# Dependency directories
node_modules/

# Environment variables file (if using .env)
.env

# Log files
*.log

# IDE and editor files
.vscode/
.idea/
*.sublime-*

# Dependency lock files
package-lock.json
yarn.lock
